<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header><ul><a href="/">Home</a>
    <a href="/babbage">Charles Babbage</a>
    <a href="/berners">Tim Berners-Lee</a>
    <a href="/clarke">Joan Clarke</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/lovelace">Ada Lovelace</a>
    <a href="/turing">Alan Turing</a></ul></header>
<body>
    <img src="img/babbage_1.jpg" alt="babbage.jpg">
    <h1>Charles Babbage</h1>
    <h2>(Teignmouth, 1792 - Londres, 1871) Matemático e ingeniero británico, inventor de las máquinas calculadoras programables. A comienzos del siglo XIX, bien avanzada la Revolución Industrial, los errores en los datos matemáticos tenían graves consecuencias: por ejemplo, una tabla de navegación defectuosa era una causa frecuente de los naufragios. Charles Babbage creyó que una máquina podía hacer cálculos matemáticos más rápidos y más precisos que las personas.</h2>
</body>
</html>