<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-Lee</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header><ul><a href="/">Home</a>
    <a href="/babbage">Charles Babbage</a>
    <a href="/berners">Tim Berners-Lee</a>
    <a href="/clarke">Joan Clarke</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/lovelace">Ada Lovelace</a>
    <a href="/turing">Alan Turing</a></ul></header>
<body>
    <img src="img/Sir_Tim_Berners-Lee_(cropped).jpg" alt="Sir_Tim_Berners-Lee_">
    <h1>Tim Berners-Lee</h1>
    <h2>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</h2>
</body>
</html>