<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
    <link rel="stylesheet" href="/css/styles.css">
    <header><ul><a href="/">Home</a>
        <a href="/babbage">Charles Babbage</a>
        <a href="/berners">Tim Berners-Lee</a>
        <a href="/clarke">Joan Clarke</a>
        <a href="/hamilton">Margaret Hamilton</a>
        <a href="/hopper">Grace Hopper</a>
        <a href="/lovelace">Ada Lovelace</a>
        <a href="/turing">Alan Turing</a></ul></header>
</head>
<body>
    <img src="img/Ada_Byron_daguerreotype_by_Antoine_Claudet_1843_or_1850.jpg" alt="Lovelace.jpg">
    <h1>Ada Lovelace</h1>
    <h2>Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de 1852), registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la denominada máquina analítica. Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.</h2>
</body>
</html>